{% extends 'portlets/popup_portlets/base.html' %}

{% block header %}
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3>Already a member?</h3>
{% endblock %}
{% block message %}
    <form action="" method="post" id='login-form'>        
            <span class="control-group" id="bar-name-span">
                {{ login_form.username }}
            </span>
            <span class="control-group" id="bar-password-span">
                {{ login_form.password }}
            </span>
        <br />
        <input type="submit" name="login-submit" value="Log in" class="login-button btn btn-primary"/>
        <input type="submit" value="Not yet" data-dismiss="modal" aria-hidden="true" class="login-button btn"/>
    </form>
{% endblock %}
