{% extends 'portlets/popup_portlets/base.html' %}

{% block header %}
    <h3>Edit Your Bars' Information</h3>
{% endblock %}
{% block message %}
<div class="edit-portlet">                 
    <form class="basic-info" action="{% url 'barportal.views.edit_profile' user.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_bar_form }}
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-success save">Save</button>
    </form>    
    <form action="{% url 'barportal.views.edit_profile' user.id %}" method="post" class="form-inline">
        {% csrf_token %}
        <div class="menu-desc">
            <h2>{{ bar.name }}</h2>
            <ul class="menu-item-list">
                {% if menu_submitted %}
                    {% for menu_item in menu_submitted.menu_items %}
                        <li><a href="{% url 'barportal.views.remove_menu_item' user.id %}" class="remove-one" data="{{ menu_item.id }}"><i class="icon-remove-circle"></i></a><span class="item-name">{{ menu_item.name }}</span><span class="item-price">${{ menu_item.price }}</span></li>
                    {% endfor %}
                {% endif %}
                <li class="menu-item">                    
                    <label>drink name</label>
                    <input type="text" name="{{ menu_item_name_name }}0" class="item-name">
                    <div style="margin-top:10px;">
                        <label>drink price</label>
                        <input type="text" pattern="\d+\.\d\d" placeholder="$0.00" name="{{ menu_item_price_name }}0" class="item-price">
                    </div>
                </li>
            </ul>
            <a href="#null" class="add-one">Add Another +</a>
            <input type="hidden" name="item_counter" value=1>
            <button class="btn btn-success save">Save</button>
        </div>
    </form>        
</div>
{% endblock %}
